<?xml version="1.0" encoding="utf-8"?>
<manifest  xmlns:android="http://schemas.android.com/apk/res/android"
 android:versionCode="751203" android:versionName="7.5.1d" android:installLocation="0" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.gameloft.android.ANMP.GloftDMHM" platformBuildVersionCode="29" platformBuildVersionName="10">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="29">
	</uses-sdk>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE">
	</uses-permission>
	<uses-permission android:name="com.android.vending.BILLING">
	</uses-permission>
	<uses-permission android:name="android.permission.INTERNET">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.VIBRATE">
	</uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED">
	</uses-permission>
	<permission android:name="glshare.permission.ACCESS_SHARED_DATA" android:protectionLevel="0x00000002">
	</permission>
	<uses-permission android:name="glshare.permission.ACCESS_SHARED_DATA">
	</uses-permission>
	<uses-feature android:name="android.hardware.touchscreen">
	</uses-feature>
	<uses-feature android:name="android.hardware.screen.portrait">
	</uses-feature>
	<uses-feature android:name="android.hardware.touchscreen.multitouch">
	</uses-feature>
	<uses-feature android:glEsVersion="0x00020000">
	</uses-feature>
	<supports-screens android:anyDensity="true" android:smallScreens="false" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true">
	</supports-screens>
	<uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE">
	</uses-permission>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE">
	</uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18">
	</uses-permission>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE">
	</uses-permission>
	<uses-permission android:name="android.permission.CAMERA">
	</uses-permission>
	<uses-feature android:name="android.hardware.camera" android:required="false">
	</uses-feature>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false">
	</uses-feature>
	<application android:theme="@7F0F0171" android:label="@7F0E0114" android:icon="@7F0C0003" android:name="com.gameloft.android.ANMP.GloftDMHM.FrameworkApplication" android:debuggable="false" android:allowBackup="true" android:hardwareAccelerated="true" android:supportsRtl="true" android:fullBackupContent="@7F110001" android:usesCleartextTraffic="true" android:networkSecurityConfig="@7F110000" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:allowAudioPlaybackCapture="false">
		<service android:name="com.gameloft.android.ANMP.GloftDMHM.MediaProjectionService" android:enabled="true" android:exported="true" android:foregroundServiceType="0x00000020">
		</service>
		<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@7F0E0103">
		</meta-data>
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-5607002036640398~9531726581">
		</meta-data>
		<meta-data android:name="com.google.android.gms.version" android:value="@7F090008">
		</meta-data>
		<meta-data android:name="com.samsung.android.infinitedisplay.supported" android:value="yes">
		</meta-data>
		<meta-data android:name="android.max_aspect" android:value="2.5">
		</meta-data>
		<activity android:theme="@7F0F0174" android:label="@7F0E00C5" android:name="com.facebook.LoginActivity">
		</activity>
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@7F0E0100">
		</meta-data>
		<activity android:theme="@7F0F014E" android:label="@7F0E0114" android:name="com.gameloft.android.ANMP.GloftDMHM.MainActivity" android:multiprocess="false" android:launchMode="1" android:screenOrientation="1" android:configChanges="0x40003FFF" android:resizeableActivity="false">
			<intent-filter>
				<action android:name="android.intent.action.MAIN">
				</action>
				<category android:name="android.intent.category.LAUNCHER">
				</category>
			</intent-filter>
		</activity>
		<activity android:name="com.gameloft.android.ANMP.GloftDMHM.AppLinksActivity" android:launchMode="2" android:resizeableActivity="false">
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
				<category android:name="android.intent.category.BROWSABLE">
				</category>
				<data android:scheme="https" android:host="despicable-me-minion-rush.extads.gameloft.com">
				</data>
			</intent-filter>
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.MAIN">
				</action>
				<category android:name="android.intent.category.LAUNCHER">
				</category>
				<action android:name="android.intent.action.VIEW">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
				<category android:name="android.intent.category.BROWSABLE">
				</category>
				<data android:scheme="https" android:host="minionrush.page.link">
				</data>
			</intent-filter>
		</activity>
		<activity android:label="@7F0E0114" android:name="com.gameloft.android.ANMP.GloftDMHM.StorageActivity" android:multiprocess="false" android:screenOrientation="1" android:configChanges="0x40003FFF">
		</activity>
		<activity android:theme="@android:01030007" android:name="com.vungle.warren.ui.VungleActivity" android:launchMode="1" android:configChanges="0x00000DA0">
		</activity>
		<activity android:theme="@android:01030010" android:name="com.vungle.warren.ui.VungleFlexViewActivity" android:launchMode="1" android:configChanges="0x00000DA0" android:hardwareAccelerated="true">
		</activity>
		<activity android:theme="@7F0F0174" android:name="com.gameloft.android.ANMP.GloftDMHM.iab.GMPActivity" android:screenOrientation="1" android:configChanges="0x40001FFF">
		</activity>
		<activity android:name="com.gameloft.android.ANMP.GloftDMHM.MyVideoView" android:multiprocess="false" android:screenOrientation="1" android:configChanges="0x40003FFF">
			<intent-filter>
				<action android:name="android.intent.action.MAIN">
				</action>
			</intent-filter>
		</activity>
		<activity android:theme="@7F0F0175" android:name="com.gameloft.igp.IGPFreemiumActivity" android:screenOrientation="-1" android:configChanges="0x40003FFF" android:hardwareAccelerated="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN">
				</action>
			</intent-filter>
		</activity>
		<activity android:theme="@7F0F0171" android:name="com.gameloft.ingamebrowser.InGameBrowser" android:screenOrientation="4" android:configChanges="0x000004B0" android:windowSoftInputMode="0x00000023">
		</activity>
		<activity android:theme="@android:01030011" android:label="@7F0E0114" android:name="com.gameloft.android.ANMP.GloftDMHM.PackageUtils.PermissionActivity" android:multiprocess="false" android:screenOrientation="-1" android:configChanges="0x40003FFF">
		</activity>
		<activity android:theme="@7F0F0175" android:name="com.gameloft.glads.GLAdFullScreen" android:screenOrientation="-1" android:configChanges="0x40002FFF" android:hardwareAccelerated="true">
		</activity>
		<activity android:theme="@7F0F0175" android:name="com.gameloft.glads.MRAIDFullScreen" android:screenOrientation="-1" android:configChanges="0x40002FFF" android:hardwareAccelerated="true">
		</activity>
		<activity android:name="com.gameloft.glads.vast.activity.VASTActivity" android:screenOrientation="0">
		</activity>
		<activity android:theme="@7F0F0175" android:name="com.gameloft.glads.VASTFullScreen" android:screenOrientation="-1" android:configChanges="0x40002FFF" android:hardwareAccelerated="true">
		</activity>
		<meta-data android:name="applovin.sdk.key" android:value="ZTwMEyV5uBrsFT8m-QPTDxKQFt7tesSCONZdK4iCFT3V0BF_cfTrauGrmNiOE9bdW9FsEz2TW5-WHDWvt4lSz_">
		</meta-data>
		<receiver android:name="com.gameloft.android.ANMP.GloftDMHM.PushNotification.LocalPushReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED">
				</action>
			</intent-filter>
		</receiver>
		<service android:name="com.gameloft.android.ANMP.GloftDMHM.PushNotification.LaunchPushService" android:exported="false">
		</service>
		<service android:name="com.gameloft.android.ANMP.GloftDMHM.PushNotification.DeletePushService" android:exported="false">
		</service>
		<meta-data android:name="firebase_analytics_collection_enabled" android:value="false">
		</meta-data>
		<meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false">
		</meta-data>
		<service android:name="com.gameloft.android.ANMP.GloftDMHM.PushNotification.FirebaseMessageService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT">
				</action>
			</intent-filter>
		</service>
		<uses-library android:name="org.apache.http.legacy" android:required="false">
		</uses-library>
		<receiver android:name="com.gameloft.android.ANMP.GloftDMHM.BootCompletedReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
			</intent-filter>
		</receiver>
		<provider android:name="com.gameloft.android.ANMP.GloftDMHM.KeyProvider" android:permission="glshare.permission.ACCESS_SHARED_DATA" android:exported="true" android:multiprocess="true" android:authorities="com.gameloft.android.ANMP.GloftDMHM.KeyProvider">
		</provider>
		<activity android:name="com.ironsource.sdk.controller.ControllerActivity" android:configChanges="0x00000480" android:hardwareAccelerated="true">
		</activity>
		<activity android:theme="@android:0103000F" android:name="com.ironsource.sdk.controller.InterstitialActivity" android:configChanges="0x00000480" android:hardwareAccelerated="true">
		</activity>
		<activity android:theme="@android:0103000F" android:name="com.ironsource.sdk.controller.OpenUrlActivity" android:configChanges="0x00000480" android:hardwareAccelerated="true">
		</activity>
		<activity android:name="com.gameloft.android.ANMP.GloftDMHM.PackageUtils.FoldableActivity" android:screenOrientation="1" android:configChanges="0x00000480">
		</activity>
		<activity android:name="com.gameloft.android.ANMP.GloftDMHM.PackageUtils.ChromebookActivity" android:screenOrientation="1" android:configChanges="0x00000480">
		</activity>
		<activity android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:enabled="false" android:exported="false" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true" android:launchMode="3">
		</activity>
		<activity android:theme="@7F0F016F" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:enabled="false" android:exported="false" android:process=":playcore_dialog_wrapper_activity" android:stateNotNeeded="true">
		</activity>
		<service android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService" android:enabled="false" android:exported="true">
		</service>
		<service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false" android:directBootAware="true">
			<meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar">
			</meta-data>
			<meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar">
			</meta-data>
			<meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar">
			</meta-data>
			<meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar">
			</meta-data>
			<meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar">
			</meta-data>
			<meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar">
			</meta-data>
			<meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar">
			</meta-data>
			<meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar">
			</meta-data>
		</service>
		<service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false" android:directBootAware="true">
			<intent-filter android:priority="-500">
				<action android:name="com.google.firebase.MESSAGING_EVENT">
				</action>
			</intent-filter>
		</service>
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE">
				</action>
			</intent-filter>
		</receiver>
		<activity android:theme="@android:01030010" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false">
		</activity>
		<receiver android:name="com.vungle.warren.NetworkProviderReceiver" android:enabled="false">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
			</intent-filter>
		</receiver>
		<activity android:theme="@android:01030010" android:name="com.facebook.ads.AudienceNetworkActivity" android:exported="false" android:configChanges="0x000004A0">
		</activity>
		<provider android:name="com.facebook.ads.AudienceNetworkContentProvider" android:exported="false" android:authorities="com.gameloft.android.ANMP.GloftDMHM.AudienceNetworkContentProvider">
		</provider>
		<provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.gameloft.android.ANMP.GloftDMHM.firebaseinitprovider" android:initOrder="100">
		</provider>
		<receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false">
		</receiver>
		<service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false">
		</service>
		<service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false">
		</service>
		<activity android:name="com.applovin.adview.AppLovinInterstitialActivity" android:screenOrientation="3" android:configChanges="0x00000F80" android:hardwareAccelerated="true">
		</activity>
		<activity android:name="com.applovin.adview.AppLovinFullscreenActivity" android:exported="false" android:launchMode="1" android:screenOrientation="3" android:configChanges="0x00000FB4" android:hardwareAccelerated="true">
		</activity>
		<activity android:name="com.applovin.sdk.AppLovinWebViewActivity" android:configChanges="0x000006A0">
		</activity>
		<activity android:theme="@7F0F0206" android:name="com.applovin.mediation.MaxDebuggerActivity" android:configChanges="0x000004A0">
		</activity>
		<activity android:theme="@7F0F0206" android:name="com.applovin.mediation.MaxDebuggerDetailActivity" android:configChanges="0x000004A0">
		</activity>
		<service android:name="com.applovin.impl.sdk.utils.AppKilledService" android:exported="false" android:stopWithTask="false">
		</service>
		<activity android:theme="@android:0103000F" android:name="com.google.android.gms.ads.AdActivity" android:exported="false" android:configChanges="0x00000FB0">
		</activity>
		<provider android:name="com.google.android.gms.ads.MobileAdsInitProvider" android:exported="false" android:authorities="com.gameloft.android.ANMP.GloftDMHM.mobileadsinitprovider" android:initOrder="100">
		</provider>
		<service android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery" android:exported="false">
			<meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct">
			</meta-data>
		</service>
		<service android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false">
		</service>
		<receiver android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver" android:exported="false">
		</receiver>
		<provider android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer" android:exported="false" android:multiprocess="true" android:authorities="com.gameloft.android.ANMP.GloftDMHM.lifecycle-process">
		</provider>
		<activity android:theme="@android:01030007" android:name="com.unity3d.services.ads.adunit.AdUnitActivity" android:configChanges="0x40000FFF" android:hardwareAccelerated="true">
		</activity>
		<activity android:theme="@android:01030011" android:name="com.unity3d.services.ads.adunit.AdUnitTransparentActivity" android:configChanges="0x40000FFF" android:hardwareAccelerated="true">
		</activity>
		<activity android:theme="@android:01030011" android:name="com.unity3d.services.ads.adunit.AdUnitTransparentSoftwareActivity" android:configChanges="0x40000FFF" android:hardwareAccelerated="false">
		</activity>
		<activity android:theme="@android:01030007" android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity" android:configChanges="0x40000FFF" android:hardwareAccelerated="false">
		</activity>
		<activity android:theme="@7F0F014F" android:name="com.google.android.gms.appinvite.PreviewActivity" android:exported="true">
			<intent-filter>
				<action android:name="com.google.android.gms.appinvite.ACTION_PREVIEW">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
			</intent-filter>
		</activity>
		<activity android:theme="@android:01030010" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:exported="false" android:excludeFromRecents="true">
		</activity>
		<service android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:exported="true">
		</service>
		<service android:name="com.google.android.gms.tagmanager.TagManagerService" android:enabled="true" android:exported="false">
		</service>
		<activity android:name="com.google.android.gms.tagmanager.TagManagerPreviewActivity" android:exported="true" android:noHistory="true">
			<intent-filter>
				<data android:scheme="tagmanager.c.com.gameloft.android.ANMP.GloftDMHM">
				</data>
				<action android:name="android.intent.action.VIEW">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
				<category android:name="android.intent.category.BROWSABLE">
				</category>
			</intent-filter>
		</activity>
		<activity android:theme="@7F0F0207" android:name="com.facebook.FacebookActivity" android:configChanges="0x000005B0">
		</activity>
		<activity android:name="com.facebook.CustomTabMainActivity">
		</activity>
		<activity android:name="com.facebook.CustomTabActivity">
		</activity>
		<provider android:name="com.facebook.internal.FacebookInitProvider" android:exported="false" android:authorities="com.gameloft.android.ANMP.GloftDMHM.FacebookInitProvider">
		</provider>
		<receiver android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver" android:exported="false">
			<intent-filter>
				<action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED">
				</action>
			</intent-filter>
		</receiver>
		<receiver android:name="com.facebook.CampaignTrackingReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER">
				</action>
			</intent-filter>
		</receiver>
		<activity android:name="com.facebook.ads.InterstitialAdActivity" android:configChanges="0x000004A0">
		</activity>
		<activity android:name="com.facebook.ads.RewardedVideoAdActivity" android:configChanges="0x000004A0">
		</activity>
		<activity android:name="com.vungle.warren.ui.VungleWebViewActivity" android:launchMode="1" android:configChanges="0x00000DA0">
		</activity>
		<meta-data android:name="com.google.android.play.billingclient.version" android:value="2.0.1">
		</meta-data>
		<activity android:theme="@android:01030010" android:name="com.android.billingclient.api.ProxyBillingActivity" android:configChanges="0x000005B0">
		</activity>
		<meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base">
		</meta-data>
		<meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store">
		</meta-data>
		<meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK">
		</meta-data>
		<meta-data android:name="com.android.vending.splits" android:value="@7F110002">
		</meta-data>
		<meta-data android:name="com.android.vending.derived.apk.id" android:value="3">
		</meta-data>
	</application>
</manifest>
